{{define "title"}}Home - Event Planner{{end}}

{{block "main" .}}
    <div class="bg-gray-50 min-h-screen py-8">
        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
            <div class="text-center py-12 space-y-2">
                <h2 class="font-bold text-4xl text-gray-900">Welcome to Event Planner</h2>
                <p class="text-gray-500 text-lg">Organize your events with ease</p>
            </div>

            <div class="space-y-6 sm:px-6">
                <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-all duration-200 group border border-transparent hover:border-blue-100">
                    <div class="space-y-4">
                        <iconify-icon class="text-blue-500" icon="lucide:calendar" width="48"
                                      height="48"></iconify-icon>
                        <div class="space-y-2">
                            <a href="/events"
                               class="block text-xl font-semibold text-gray-900 group-hover:text-blue-600 transition-colors">
                                View Events
                            </a>
                            <p class="text-gray-500">Manage and organize your upcoming events</p>
                        </div>
                    </div>
                </div>

                <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-all duration-200 group border border-transparent hover:border-red-100">
                    <div class="space-y-4">
                        <iconify-icon class="text-red-500" icon="material-symbols:logout" width="48"
                                      height="48"></iconify-icon>
                        <div class="space-y-2">
                            <form action="/logout" method="post">
                                <input type="hidden" name='csrf_token' value="{{.CSRFToken}}">
                                <button type="submit"
                                        class="block text-xl font-semibold text-gray-900 group-hover:text-red-600 transition-colors">
                                    Logout
                                </button>
                            </form>
                            <p class="text-gray-500">Sign out of your account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}