{{define "title"}}Home - Event Planner{{end}}

{{block "main" .}}
    <div>

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="p-4 py-12">
                <h1 class="font-bold text-4xl">Home</h1>
            </div>

        </div>

    </div>

{{end}}
