{{define "logo" }}
    <div class="flex items-center gap-2">

        <iconify-icon icon="iconoir:calendar" class="text-sky-500" width="32" height="32"></iconify-icon>
        <a class="tracking-wide font-semibold text-xl font-pally" href="/">Event Planner</a>

    </div>
{{end}}