{{define "nav"}}
    <nav class="bg-white">

        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">

            <div class="p-4 flex items-center justify-between">

                {{/* Logo */}}
                {{template "logo" .}}

                {{/* Menu */}}
                {{template "menu" .}}

            </div>

        </div>

    </nav>
{{end}}