{{define "title"}}Register - Event Planner{{end}}

{{define "main"}}
    <div>

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="p-4 py-12">

                <div class="max-w-3xl mx-auto pb-8">
                    <h2 class="text-xl font-semibold">Register</h2>
                </div>

                {{template "registerForm" .}}

            </div>

        </div>

    </div>

{{end}}
