{{define "loginForm"}}

    <form class="max-w-3xl mx-auto space-y-6" action="/login" method="post">

        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        {{range .Form.NonFieldErrors}}
            <div class='text-red-500 text-sm'>{{.}}</div>
        {{end}}

        <div class="flex flex-col space-y-2">
            <label for="email">E-mail</label>
            {{with .Form.FieldErrors.email }}
                <span class="text-red-500 text-sm">* {{.}}</span>
            {{end}}
            <input type="email" name="email" id="email" />
        </div>

        <div class="flex flex-col space-y-2">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>

        <input type="submit" value="Login" class="px-4 py-2 bg-gray-100 rounded hover:bg-gray-200 cursor-pointer">
    </form>

{{end}}