{{define "registerForm"}}

    <form class="max-w-3xl mx-auto space-y-6" action="/register" method="POST">

        <input type="hidden" name='csrf_token' value="{{.CSRFToken}}">

        <div class="flex flex-col space-y-2">
            <label for="name">Name</label>
            {{with .Form.FieldErrors.name }}
                <span class="text-red-500 text-sm">* {{.}}</span>
            {{end}}
            <input type="text" name="name" id="name" value="{{.Form.Name}}" />
        </div>

        <div class="flex flex-col space-y-2">
            <label for="email">E-mail</label>
            {{with .Form.FieldErrors.email }}
                <span class="text-red-500 text-sm">* {{.}}</span>
            {{end}}
            <input type="email" name="email" id="email" value="{{.Form.Email}}" />
        </div>

        <div class="flex flex-col space-y-2">
            <label for="password">Password</label>
            {{with .Form.FieldErrors.password }}
                <span class="text-red-500 text-sm">* {{.}}</span>
            {{end}}
            <input type="password" name="password" id="password" value="{{.Form.Password}}" />
        </div>

        <input type="submit" value="Register" class="px-4 py-2 bg-gray-100 rounded hover:bg-gray-200 cursor-pointer">
    </form>

{{end}}