{{define "footer"}}
    <div>

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="py-4 text-center">

                <p class="text-gray-500">
                    Powered by <a class="text-blue-400" href="https://golang.org">Go</a>
                    in {{.CurrentYear}}
                </p>

            </div>

        </div>

    </div>
{{end}}