{{define "nav"}}
    <nav class="bg-gray-100">

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="p-4 flex items-center justify-between">

                {{/* Logo */}}
                <div>

                    <a class="font-semibold text-2xl font-pally" href="/">Event Planner</a>

                </div>

                {{/* Desktop menu */}}
                <div class="flex items-center gap-8">

                    <div class="text-base font-pally flex items-center gap-4 font-light tracking-wide">

                        <a class="hover:text-blue-400" href="/login">Login</a>

                        <a class="hover:text-blue-400" href="/register">register</a>

                        <form action="/logout" method="post">
                            <input type="hidden" name='csrf_token' value="{{.CSRFToken}}">
                            <button class="hover:text-blue-400" type="submit">Logout</button>
                        </form>

                    </div>

                    <a href="/events/create"
                       class="transition duration-0 hover:duration-150 bg-blue-500 font-pally px-4 py-2 text-base text-white rounded flex items-center hover:bg-blue-600 hover:shadow-lg">
                        <iconify-icon icon="material-symbols:add-rounded" width="24" height="24"
                                      class="mr-2"></iconify-icon>
                        New Event
                    </a>

                </div>

            </div>

        </div>

    </nav>
{{end}}