{{define "nav"}}
    <nav class="bg-gray-100">

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="flex py-4">

                {{/* Logo */}}
                <div>

                    <a class="font-semibold text-2xl font-pally" href="/">Event Planner</a>

                </div>

                {{/* Desktop menu */}}
                <ul>

                </ul>

            </div>

        </div>

    </nav>
{{end}}