{{define "nav"}}
    <nav class="bg-gray-100">

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="p-4 flex items-center justify-between">

                {{/* Logo */}}
                <div>

                    <a class="font-semibold text-2xl font-pally" href="/">Event Planner</a>

                </div>

                {{/* Desktop menu */}}
                <div class="">
                    <button class="transition duration-0 hover:duration-150 bg-blue-500 font-pally px-4 py-2 text-base text-white rounded flex items-center hover:bg-blue-600 hover:shadow-lg">
                        <iconify-icon icon="material-symbols:add-rounded" width="24" height="24" class="mr-2"></iconify-icon>
                        New Event
                    </button>
                </div>

            </div>

        </div>

    </nav>
{{end}}