@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.required-field::after {
    content: '*';
    color: #EF4444; /* Tailwind's red-500 */
    margin-left: 0.25rem;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;

}

.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-request.htmx-indicator {
    opacity: 1;
}