{{define "title"}}Event Edit{{end}}

{{define "main"}}
    <div>

        <div class="max-w-4xl mx-auto sm:px-6">

            <div class="py-12 max-w-3xl mx-auto">

                {{template "eventEditForm" .}}

            </div>

        </div>

    </div>

{{end}}